@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    * {
        font-family: "Inter", sans-serif;
    }

    .header .header-box .box h1 {
        line-height: 1.5;
    }

    .header .header-box .box p {
        line-height: 2;
    }

    .about .about-box .box p {
        line-height: 2;
    }

    .service .service-box .box:nth-child(1) p {
        line-height: 2;
    }


    @media screen and (max-width: 768px) {
        .menu {
            transform: scale(0);
            transform-origin: top;
            opacity: 0;
            transition: all 0.3s ease;
        }

        .menu.menu-active {
            transform: scale(1);
            opacity: 1;

        }



    }
}